@model IEnumerable<Labels>
<div>
    <table class="styled-table">
        <thead>
            <tr>
                <th width="130px">Tip</th>
                <th width="180px">Naziv</th>
                <th width="330px">Opis</th>
                <th width="110px">Trenutno na stanju</th>
                <th width="120px">Cena</th>
                <th width="60px"></th>
                <th width="150px"></th>
            </tr>
        </thead>
    </table>
    @foreach (var Labels in Model)
    {
    <div>
        <table class="styled-table">
            <tbody>
                <tr>
                    <td width="130px" align="center">@Labels.CbLabels.Name</td>
                    <td width="180px" align="center">@Labels.Name</td>
                    <td width="330px" align="center">@Labels.Description</td>
                    <td width="110px" align="center">@Labels.CurrentNumber</td>
                    <td width="120px" align="center">@Labels.Price.ToString("c")</td>
                    <td width="60px" align="center"><img src="@Labels.Image" width="60" /></td>
                    <td width="120px" align="center"><button class="btn btn-primary">Dodaj u korpu</button>
                </tr>
            </tbody>
        </table>
    </div>
    }
</div>
